@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2.5rem;
}

.container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: 0.5em;
}

.button {
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: green;
}

.active:hover {
  background-color: red;
}
.info {
  font-size: 1rem;
  text-align: center;
}
